# sudo cp $HOME/.config/awesome/configs/global/udev.backlight.rules /etc/udev/rules.d/backlight.rules
SUBSYSTEM=="backlight", ACTION=="add", RUN+="/bin/chgrp video /sys/class/backlight/%k/brightness"
SUBSYSTEM=="backlight", ACTION=="add", RUN+="/bin/chmod g+w /sys/class/backlight/%k/brightness"